@{
    ViewBag.Title = "О нас";
}

<div class="title">О нас</div>
<p>Рекламное агентство "РеАгент" растет и развивается вместе со своими клиентами, предлагая лучшие возможности для продвижения вашего бизнеса. В состав нашей профессиональной команды входят высококвалифицированные специалисты в различных областях деятельности — разработчики и оптимизаторы сайтов, дизайнеры и маркетологи, менеджеры и технические администраторы.</p>
<p>Сфера нашей деятельности простирается по всему Казахстану. Из года в год мы стремимся расширить возможности и спектр предоставляемых услуг, в числе которых:</p>
<ul>
    <li>Размещение <a href="@Url.Action("Service", "Home", new { id = "internet" })">рекламы в интернете</a>, <a href="@Url.Action("Service", "Home", new { id = "massmedia" })">СМИ</a>, и в <a href="@Url.Action("Service", "Home", new { id = "cinema" })">кинотеатрах</a>;</li>
    <li><a href="@Url.Action("Service", "Home", new { id = "transport" })">Реклама в любом общественном транспорте</a>; стационарные билборды и брендмауэры, щиты и растяжки;</li>
    <li><a href="@Url.Action("Service", "Home", new { id = "agency" })">Агентство полного цикла</a>;</li>
    <li><a href="@Url.Action("Service", "Home", new { id = "specproject" })">Специальные проекты</a> по размещению рекламных объявлений.</li>
</ul>
<p style="margin-top: 10px;">Мы используем в своей работе только проверенные методики и самые последние технические достижения. Сотрудничество с нами — это:</p>
<ul>
    <li>Качество по оптимальным ценам; </li>
    <li>Профессионализм и гарантированный результат;</li>
    <li>Выполнение работ в короткие сроки;</li>
    <li>Личный подход и учет интересов клиента;</li>
    <li>Приятные бонусы для постоянных партнеров.</li>
</ul>
<p style="margin-top: 10px;"><strong>Рекламное агентство «РеАгент» - залог вашего успешного начинания!</strong></p>
<div class="block-order">
    <p>Чтобы заказать размещение рекламы, позвоните нашим менеджерам по телефону +7-702-209-07-66 или заполните небольшую форму, нажав на кнопку ниже. Время работы с 10:00 до 18:00 с понедельника по пятницу.</p>
    <span class="addorder"><a class="btn btn-primary btn-lg" href="@Url.Action("Create", "Order")">Заказать размещение рекламы</a></span>
</div>