@{
    ViewBag.Title = "Рекламные услуги";
}

<div class="art-title"><h1>Рекламные услуги</h1></div>
<div class="clr"></div>
<div class="blck-service">
    <p><a href="@Url.Action("Service", new { id = "transport" })" title="Реклама в транспорте в Астане"><img src="~/Content/images/service/reklama-v-avtobuse.jpg" border="0" alt="Реклама в транспорте г. Астаны"></a></p>
    <p><span><a href="@Url.Action("Service", new { id = "transport" })" title="Реклама в транспорте в Астане">Реклама в транспорте</a></span></p>
</div>

<div class="blck-service">
    <p><a href="@Url.Action("Service", new { id = "street" })" title="Наружная реклама в Астане"><img src="~/Content/images/service/reklama-na-ylice.jpg" border="0" alt="Наружная реклама в Астане"></a></p>
    <p><span><a href="@Url.Action("Service", new { id = "street" })" title="Наружная реклама в Астане">Наружная реклама</a></span></p>
</div>

<div class="blck-service">
    <p><a href="@Url.Action("Service", new { id = "promo" })" title="btl Астана"><img src="~/Content/images/service/reklama-promo.jpg" border="0" alt="btl Астана"></a></p>
    <p><span><a href="@Url.Action("Service", new { id = "promo" })" title="btl агентство Астана">BTL. Промо-акции.</a></span></p>
</div>

<div class="blck-service">
    <p><a href="@Url.Action("Service", new { id = "agency" })" title="Агенство полного цикла"><img src="~/Content/images/service/reklama-agentstvo.jpg" border="0" alt="Агентство полного цикла в Астане"></a></p>
    <p><span><a href="@Url.Action("Service", new { id = "agency" })" title="Агенство полного цикла в Астане">Агентство полного цикла</a></span></p>
</div>

<div class="blck-service">
    <p><a href="@Url.Action("Service", new { id = "specproject" })" title="Спецпроекты"><img src="~/Content/images/service/reklama-specproject.jpg" border="0" alt="Спецпроекты в Астане"></a></p>
    <p><span><a href="@Url.Action("Service", new { id = "specproject" })" title="Спецпроекты в Астане">Спецпроекты</a></span></p>
</div>

<div class="blck-service">
    <p><a href="@Url.Action("Service", new { id = "massmedia" })" title="Реклама в СМИ в Астане"><img src="~/Content/images/service/reklama-v-smi.png" border="0" alt="Реклама в СМИ в Астане"></a></p>
    <p><span><a href="@Url.Action("Service", new { id = "massmedia" })" title="Реклама в СМИ в Астане">Реклама в СМИ</a></span></p>
</div>

<div class="blck-service">
    <p><a href="@Url.Action("Service", new { id = "internet" })" title="Реклама в интернете в Астане"><img src="~/Content/images/service/reklama-v-internete.png" border="0" alt="Реклама в интернете в Астане"></a></p>
    <p><span><a href="@Url.Action("Service", new { id = "internet" })" title="Реклама в интернете в Астане">Реклама в интернете</a></span></p>
</div>
<div class="blck-service">
    <p><a href="@Url.Action("Service", new { id = "cinema" })" title="Реклама в кинотеатрах в Астане"><img src="~/Content/images/service/reklama-v-kinoteatrah.png" border="0" alt="Реклама в кино в Астане"></a></p>
    <p><span><a href="@Url.Action("Service", new { id = "cinema" })" title="Реклама в кинотеатрах в Астане">Реклама в кинотеатрах</a></span></p>
</div>

<p>&nbsp;</p>
<p class="dropcap"><strong>Спецпроекты</strong></p>
<ul>
    <li>Размещение на счетах-фактурах ЖКХ</li>
    <li>Аренда и брендирование надувного дирижабля/li>
    <li>Реклама в метро</li>
    <li>Реклама в СМИ</li>
    <li>Реклама в интернете</li>
    <li>Стикеры в сети магазинов «Карусель», «Пятерочка+», «Перекресток»</li>
    <li>Киномакс. Видеоролики на экранах</li>
    <li>Media Markt. Трансляция видеороликов</li>
</ul>